section.hero-section.home-1
    .container 
        h2.hero-title.text-center.mb-5(data-aos='fade-up') Muadee 
            img(src="./images/icons/heart.svg", alt="") 
            | &nbsp;Bạn
        .group-card.d-flex.align-items-center.justify-content-center.flex-column
            .card-item.d-flex.align-items-center.justify-content-start.flex-column.mb-3(data-aos='fade-up') 
                .card-item_img 
                    img(src="./images/mua_sam_1.png", alt="")
                .card-item_content
                    .card-item_content--title.text-center
                        h2 Mua sắm ngay,
                            br
                            |thong thả trả
                    .card-item_content--desc.text-center 
                        p.lcl.lcl-2 Tận hưởng sự tiện lợi của việc mua trước trả sau. Nhận ngay món hàng mơ ước. 
            .card-item.d-flex.align-items-center.justify-content-start.flex-column.mb-3(data-aos='fade-up')  
                .card-item_img 
                    img(src="./images/mua_sam_2.png", alt="")
                .card-item_content
                    .card-item_content--title.text-center 
                        h2 Thanh toán đến 4 kỳ
                            br
                            |Không lãi suất
                    .card-item_content--desc.text-center 
                        p.lcl.lcl-2 Ứng dụng Muadee hỗ trợ thanh toán trực tuyến hoặc tại cửa hàng bằng QR code.
            .card-item.d-flex.align-items-center.justify-content-center.flex-column(data-aos='fade-up') 
                .card-item_img 
                    img(src="./images/mua_sam_3.png", alt="")
                .card-item_content
                    .card-item_content--title.text-center 
                        h2 Phê duyệt nhanh chóng
                    .card-item_content--desc.text-center 
                        p.lcl.lcl-2 Quá trình đánh giá hồ sơ của Muadee sẽ đưa ra kết quả chỉ trong vòng 15 phút.






