.home-1
    position: relative
    padding-top: 100px
    background-color: #F2F2F7
    .bg
        background-image: url(../images/bg-1.jpg)
        background-repeat: no-repeat
        background-size: contain
        background-position: top
        background-attachment: fixed
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        max-width: 1440px
        width: 100%
        height: 900px

    .group-card
        padding-bottom: 100px
        .card-item
            gap: 20px
            width: 615px
            height: 550px
            padding: 77px 50px
            background: #FFFFFF
            box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.02), 0px 8px 64px rgba(0, 0, 0, 0.05)
            border-radius: 30px
            &_img
                width: 200px
                height: 200px
                img
                    width: 100%
                    height: 100%
                    object-fit: contain
            &_content
                &--title
                    margin-bottom: 20px
                    h2
                        font-family: 'SF Pro Display'
                        font-weight: 700
                        font-size: 40px
                        line-height: 48px
                        letter-spacing: -0.6px
                        color: #000000
                &--desc
                    p
                        font-family: 'SF Pro Display'
                        font-size: 24px
                        line-height: 30px
                        letter-spacing: 0.5px
                        color: rgba(60, 60, 67, 0.6)
    @media screen and ( max-width: 1024.98px )
        padding-top: 50px
        background: none
        background-color: #F2F2F7
        .group-card
            .card-item
                width: 100%
                height: auto
                padding: 40px 30px
                border-radius: 20px
                box-shadow: unset

                &_img
                    width: 150px
                    height: 150px
                &_content
                    &--title
                        margin-bottom: 16px
                        h2
                            font-size: 28px
                            letter-spacing: -.5px
                            line-height: 34px
                    &--desc
                        p
                            font-size: 20px
                            line-height: 24px
    @media screen and ( max-width: 575.98px )
        .bg
            display: none
        .group-card
            .card-item
                height: 400px
