section.hero-section.pertner-3 
    .wrapper-container
        .wrap-grid 
            .grid-item 
                h2.hero-title Phương thức mua trước, trả sau
            .grid-item
                .wrap-content
                    .content
                        p.sub-title Tăng đến
                            em.material-icons north_east
                        h2.col-title 20%
                        p.desc Tỉ lệ chốt đơn
                    .bg 
                        img(src="./images/icons/stroke.svg", alt="")
            .grid-item  
                .wrap-content
                    .content
                        p.sub-title Tăng đến
                            em.material-icons north_east
                        h2.col-title 30%
                        p.desc Giá trị đơn hàng
                    .bg 
                        img(src="./images/icons/stroke.svg", alt="")
            .grid-item
                .wrap-content
                    .content
                        p.sub-title Giảm đến
                            em.material-icons south_east
                        h2.col-title 30%
                        p.desc Tỉ lệ hoàn đơn
                    .bg 
                        img(src="./images/icons/stroke_1.svg", alt="")