section.hero-section.home-6 
    .wrapper-container 
        ul 
            li 
                p Mua trước, trả sau.
            li
                p Quản lý thanh toán.
            li 
                p Không lãi suất.
        .img.d-flex.flex-column
            img.qr-code(src="./images/banner/QRCODE.svg", alt="")
            span Mua sắm tại bất cứ đâu ngay hôm nay