section.hero-section.home-6 
    .container 
        .wrapper-container 
            ul 
                li 
                    p Mua trước, trả sau.
                li
                    p Quản lý thanh toán.
                li 
                    p Không lãi suất.
            .img 
                img(src="./images/banner/QRCODE.svg", alt="")
                span Mua sắm tại bất cứ đâu ngay hôm nay