section.hero-section.pertner-4
    .container
        .wrapper-container 
            h2.hero-title.mb-4 Đến với Muadee
            .wrap-grids
                .grid-item 
                    .grid-item_content
                        h3.txt-color.txt-color_green Cùng phát triển vớingân sách tiếp thị độc quyền.
                    .grid-item_img 
                        img(src="./images/handshake.png", alt="")
                .grid-item 
                    .grid-item_img 
                        img(src="./images/icons/musam.png", alt="")
                    .grid-item_content
                        h3.txt-color.txt-color_yellow.mb-3 Mua sắm đa kênh.
                        p Trực tuyến hoặc tại cửa hàng.
                .grid-item 
                    .grid-item_img 
                        img(src="./images/icons/mr.png", alt="")
                    .grid-item_content
                        h3.txt-color.txt-color_green.mb-3 Mở rộng.
                        p Hướng đến tệp khách hàng mới.
            .wrap-bottom 
                .panel
                    .panel-heading 
                        .img.mb-3 
                            img(src="./images/icons/list.png", alt="")
                        h3.title.txt-color.txt-color_green.mb-3 Hạn chế rủi ro 
                    .panel-body
                        p.text-center Muadee thanh toán
                            br
                            span 100%
                            | giá trị đơn hàng
                            br
                            |cho doanh nghiệp ngay lập tức