section.hero-sevtion.partner-1 
    .wrap-content 
        .md-title
            h2.hero-title.text-center.mb-3 Mua trước, trả sau.
            h3.md-subtitle.text-center.mb-4 Thay đổi cách người Việt mua sắm trong thời đại số.
        .md-list 
            ul.d-flex.align-items-center.justify-content-center
                li
                    a(href="") Tìm hiểu thêm
                li
                    a.btn.btn-default.btn-default_yellow(href="") 
                        p Liên hệ ngay
        .md-image 
            img(src="./images/hero_merchant.png", alt="")




































