section.hero-section.payment-panel 
    .wrapper-container
        p.desc.text-center.gs_reveal.gs_reveal_fromBottom Tiện ích 
        h2.hero-title.text-center.mb-5.gs_reveal.gs_reveal_fromBottom Quản lý thanh toán 
        .wrapper-article 
            .wrap-img 
                img(src="./images/iPhone_1.png", alt="")
            .wrap-content 
                h3 Tìm hiểu chung
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                h3 Quản lý thanh toán đến hạn
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                img(src="./images/noimage.png", alt="")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum....
        .news-relate
            h2.mb-5 Bài viết tương tự
            .swiper-container
                .mySwiper
                    .swiper-wrapper
                        .swiper-slide
                            .slide-inner.d-flex.align-items-center.justify-content-between
                                a.slide-inner__content(href="") 
                                    p.title.lcl.lcl-2 Theo dõi lịch sử mua hàng và trả tiền
                                .slide-inner__img
                                    em.material-icons north_east
                        .swiper-slide 
                            .slide-inner.d-flex.align-items-center.justify-content-between
                                a.slide-inner__content(href="") 
                                    p.title.lcl.lcl-2 Tiêu đề bài viết tối đa 2 dòng...
                                .slide-inner__img
                                    em.material-icons north_east
                        .swiper-slide 
                            .slide-inner.d-flex.align-items-center.justify-content-between
                                a.slide-inner__content(href="") 
                                    p.title.lcl.lcl-2 Hướng dẫn đăng ký tài khoản Muadee
                                .slide-inner__img
                                    em.material-icons north_east
                        .swiper-slide 
                            .slide-inner.d-flex.align-items-center.justify-content-between
                                a.slide-inner__content(href="") 
                                    p.title.lcl.lcl-2 Tiêu đề bài viết tối đa 2 dòng...
                                .slide-inner__img
                                    em.material-icons north_east
                        .swiper-slide 
                            .slide-inner.d-flex.align-items-center.justify-content-between
                                a.slide-inner__content(href="") 
                                    p.title.lcl.lcl-2 Cách tính kỳ hạn thanh toán
                                .slide-inner__img
                                    em.material-icons north_east
                        .swiper-slide 
                            .slide-inner.d-flex.align-items-center.justify-content-between
                                a.slide-inner__content(href="") 
                                    p.title.lcl.lcl-2 Tiêu đề bài viết tối đa 2 dòng...
                                .slide-inner__img
                                    em.material-icons north_east
                .button-swiper 
                    .swiper-button-next
                    .swiper-button-prev