section.hero-section.home-4.horizontal 
    .wrapper-container
        .pin-wrap
            .animation-wrap.to-right
                .item
                    h2.hero-title.text-start.mb-5 Tiện ích
                    .content 
                        h3 Mua trước, trả thong thả các
                            br
                            | món hàng mơ ước...
                            br 
                            |với bộ tính năng được thiết kế
                            br
                            span dành cho bạn
                        a.btn.btn-default(href="") 
                            p Thanh toán với Muadee
                            img(src="./images/icons/arrow_chevron_forward.svg", alt="")
                .item
                    .img 
                        img(src="./images/iPhone_1.png", alt="")
                    .content 
                        p Quản lý thanh toán 
                            br
                            |với công cụ nhắc hạn 
                            br
                            |tiện dụng.
                .item
                    .img 
                        img(src="./images/iPhone_2.png", alt="")
                    .content 
                        p Theo dõi lịch sử mua hàng
                            br
                            | và trả tiền ngay
                            br
                            | trên ứng dụng.

