section#three.hero-section.home-4
    .wrapper-container
        .wrapper-grid.panels-container
            .panels.grid-item
                h2.hero-title.text-start.mb-5 Tiện ích
                .content 
                    h3.mb-3 Mua trước, trả thong thả các món hàng mơ ước...với bộ tính năng được thiết kế
                        br
                        span.long-line dành cho bạn
                    a.btn.btn-default.btn-default_yellow(href="") 
                        span Thanh toán với Muadee
                        img(src="./images/icons/arrow_chevron_forward.svg", alt="")
            .panels.grid-item
                .img 
                    img.desktop(src="./images/iPhone_1.png", alt="")
                    img.mobile(src="./images/iPhone_1-mb.png", alt="")
                .content 
                    p Quản lý thanh toán với công cụ nhắc hạn tiện dụng.
            .panels.grid-item
                .img 
                    img.desktop(src="./images/iPhone_2.png", alt="")
                    img.mobile(src="./images/iPhone_2-mb.png", alt="")
                .content 
                    p Theo dõi lịch sử mua hàng và trả tiền ngaytrên ứng dụng.

