.home-4
    background: #E8ECFF
    border-radius: 0px
    width: 100vw
    .wrapper-container
        padding: 56px 0
        overflow: hidden
        max-width: 1040px
        width: 100%
        margin: 0 auto
        .wrapper-grid
            display: flex
            align-items: center
            gap: 30px
            overscroll-behavior: none
            width: 300%
            height: 100vh !important
            flex-wrap: nowrap
            .panels
                flex: 0 0 810px
                display: flex
                flex-direction: column
                padding: 0px
                background: #FFFFFF
                border-radius: 40px
                .img
                    width: 100%
                    +img-ratio(606/1008)
                    img
                        border-radius: 40px 40px 0 0
                .content
                    padding: 50px 100px 50px
                    width: 600px
                    p
                        font-family: 'SF Pro Display'
                        font-weight: 700
                        font-size: 40px
                        letter-spacing: -0.6px
                        color: #000000
                &:first-child
                    background: none
                    align-items: flex-start
                    .content
                        width: 675px
                        padding: 0
                        h3
                            font-family: 'SF Pro Display'
                            font-weight: 700
                            font-size: 56px
                            letter-spacing: -0.15px
                            color: #000000
    @media screen and ( max-width: 1024.98px )
        .wrapper-container
            padding: 56px 20px
            .wrapper-grid
                width: 100%
                height: auto !important
                flex-wrap: wrap
                .panels
                    flex: 0 0 100%
                    .hero-title
                        margin-bottom: 24px
                        text-align: center
                    .content
                        padding: 50px 30px

                    &:first-child
                        justify-content: center
                        align-items: center
                        .content
                            width: 100%
                            h3
                                font-size: 28px
                                text-align: center

                            .btn-default
                                margin: 0 auto
    @media screen and ( max-width: 768.98px )
        .wrapper-container
            padding: 30px 20px
            .wrapper-grid
                .panels
                    .img
                        +img-ratio(315/335)
                    .content
                        width: 100%
                        padding: 30px
                        p
                            font-size: 20px
