section#two.hero-section.home-3
    .container 
        h2.hero-title.gs_reveal.gs_reveal_fromTop.text-center.mb-5 Dễ dàng và bảo mật
        .wrapper-container.d-flex.align-items-center.m-auto
            .wrap-left.gs_reveal.gs_reveal_fromLeft
                p.sub-title.mb-4 Đăng ký online
                ul
                    li 
                        p Dễ dàng xác thực hồ sơ và tạo tài khoản.
                    li 
                        p Dễ dàng nhận hạn mức lên đến 15 triệu.
                    li 
                        p Bảo mật thông tin cá nhân.
                a.btn.btn-default(href="") 
                    p Hướng dẫn đăng ký
                    img(src="./images/icons/arrow_chevron_forward.svg", alt="")
            .wrap-right.gs_reveal.gs_reveal_fromRight 
                .mobile-wrapper.vid
                    video#vid(width='100%' height='100%' playsinline poster='./images/sign-up.png' )
                        source(src='./images/video.mp4' type='video/mp4')
                    












