extends _layout.pug

block var
    - var title = 'Đối tác'
    - var bodyClass = 'partnerPage'

block main
    include ../components/doi-tac/partner-1/index.pug
    include ../components/doi-tac/partner-2/index.pug
    include ../components/doi-tac/partner-3/index.pug
    include ../components/doi-tac/partner-4/index.pug
    include ../components/doi-tac/partner-5/index.pug
    include ../components/layout/footer/footer.pug


