header 
	nav.navbar
		.container
			#navbar.navbar-collapse.d-flex.align-items-center
				a.navbar-brand(href='/') 
					img(src="./images/logo.svg", alt="")
				ul.navbar-nav.d-flex.align-items-center 
					li.nav-item 
						a.nav-link(href="") Ưu điểm
					li.nav-item 
						a.nav-link(href="") Đăng ký
					li.nav-item 
						a.nav-link(href="") Tính năng
					li.nav-item 
						a.nav-link(href="") Thương hiệu
					li.nav-item 
						a.nav-link(href="") Đối tác
				.nav-button.d-flex.align-items-center
					a.suport(href="") 
						img(src="./images/icons/messages.svg", alt="")
					a.download-app(href="") 
						span Tải ứng dụng

//- /.nav-collapse