header.main-tool-bar
	nav.navbar
		#navbar.navbar-collapse.d-flex.align-items-center
			a.navbar-brand(href='/') 
				img(src="./images/logo.svg", alt="")
			ul.navbar-nav.d-flex.align-items-center 
				li.nav-item 
					a.nav-link(href="#one") Ưu điểm
				li.nav-item 
					a.nav-link(href="#two") Đăng ký
				li.nav-item 
					a.nav-link(href="#three") Tính năng
				li.nav-item 
					a.nav-link(href="#four") Thương hiệu
				li.nav-item 
					a.nav-link(href="#five") Đối tác
			.nav-button.d-flex.align-items-center
				a.suport(href="") 
					img(src="./images/icons/messages.svg", alt="")
					span.tooltip Trở thành đối tác của Muadee
				a.download-app(href="") 
					span Tải ứng dụng
				a.partner(href="") 
					span Trở thành đối tác của Muadee