section.hero-section.partner-5 
    .container 
        .wrapper-container
            .row 
                .col-xl-6.col-md-12.col-12.wrap-left 
                    .panel
                        .panel-heading.mb-3 
                            .img 
                                img(src="./images/icons/chat.svg", alt="")
                            h3.title Hợp tác cùng Muadee.
                        .panel-body
                            p Liên hệ với Muadee by HDBank team tại 
                                a(href="") doitac.muadee@hdbank.com.vn 
                            p hoặc để lại thông tin của bạn.
                .col-xl-6.col-md-12.col-12.wrap-right 
                    form.wrap-form(action="") 
                        .form-group.mb-3
                            input.form-control(type='name', name='name' placeholder='Họ và tên')
                        .form-group.mb-3
                            input.form-control(type='name', name='name' placeholder='Số điện thoại')
                        .form-group.mb-3
                            input.form-control(type='name', name='name' placeholder='Email')
                        .form-group.mb-3
                            textarea.form-textarea(name="", cols="30", rows="10" placeholder='Cho chúng tôi biết thêm về bạn (Tên doanh nghiệp, thương hiệu, ngành hàng)')
                        .form-group
                            button.btn.btn-default.btn-default_yellow 
                                p Gửi thông tin
                                img(src="./images/icons/right.svg", alt="")