section.hero-section.home-2
    .container 
        h2.hero-title.gs_reveal.gs_reveal_fromTop.text-center.mb-5 Quyền lợi tốt nhất
        .wrapper-under.d-flex.flex-column.justify-content-center.align-items-center 
            .wrap-content.gs_reveal.gs_reveal_fromTop.d-flex.flex-column.justify-content-center.align-items-end 
                .position-img 
                    img(src="./images/illus.png", alt="")
                ul.article 
                    li
                        p Thanh toán trong 3-4 kỳ.
                    li
                        p Trả hàng tháng.
                    li
                        p 0% lãi suất.
            .wrap-img.gs_reveal.gs_reveal_fromTop 
                img(src="./images/ql-1.png", alt="alt")
        .wrapper-above 
            .group-grid 
                .row 
                    .col-6.wrap-left.gs_reveal.gs_reveal_fromLeft 
                        .grid-item 
                            .img 
                                img(src="./images/zero.png", alt="")
                            .content 
                                ul
                                    li
                                        p 0 phí thường niên.
                                    li
                                        p 0 phí tiềm ẩn.
                                    li
                                        p Biểu phí rõ ràng.
                                a.btn.btn-default(href="")
                                    p Điều khoản & Điều kiện
                                    img(src="./images/icons/arrow_chevron_forward.svg", alt="")

                    .col-6.wrap-right 
                        .row
                            .col-12.mb-3.gs_reveal.gs_reveal_fromRight
                                .grid-item 
                                    .img 
                                        img(src="./images/vouchers.png", alt="")
                                    .content 
                                        p Nhiều Voucher ưu đãi dành cho thành viên mới
                            .col-12.gs_reveal_fromRight
                                .grid-item 
                                    .img 
                                        img(src="./images/200.png", alt="")
                                    .content 
                                        p Giá trị đơn hàng trả góp tối thiểu 200.000 VND