section#five.hero-section.home-7
    .wrapper-container 
        .panel
            .panel-heading.d-flex.align-items-center 
                .img
                    img(src="./images/biz.png", alt="")
                h2.title Bạn là
                    br
                    |doanh nghiệp
                    br
                    |bán lẻ?
            .panel-body
                p.desc Hãy hợp tác với Muadee để cùng nhau:
                ul.d-flex.align-items-center
                    li 
                        p Tăng doanh số bán hàng
                    li 
                        img(src="./images/icons/box-1.png", alt="")
                    li 
                        p Tăng tỉ lệ chuyển đổi
                    li 
                        img(src="./images/icons/order-1.png", alt="")
                    li 
                        p Mở rộng tệp khách hàng
                a.btn.btn-default(href="") 
                    p Liên hệ ngay
