.home-7
    .wrapper-container
        border-radius: 50px
        margin: 0 40px
        background: #fff
        display: flex
        align-items: center
        justify-content: center
        padding: 150px 160px 134px
        .panel
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            &-heading
                gap: 40px
                margin-bottom: 50px
                .title
                    font-weight: 700
                    font-size: 56px
                    line-height: 67px
                    letter-spacing: -0.15px
                    color: #000000
            &-body
                .desc
                    font-weight: 700
                    font-size: 24px
                    line-height: 30px
                    text-align: center
                    letter-spacing: 0.5px
                    color: rgba(60, 60, 67, 0.6)
                    margin-bottom: 18px
                ul
                    gap: 12px
                    margin-bottom: 52px
                    li
                        p
                            font-weight: 700
                            font-size: 24px
                            line-height: 30px
                            text-align: center
                            letter-spacing: 0.5px
                            color: #000000
                            @media screen and ( max-width: 1366.98px )
                                font-size: 18px
                .btn-default
                    width: 200px
                    height: 56px
                    background: #F7C913
                    border-radius: 32px
                    margin: 0 auto
