section#four.hero-section.home-5 
    .container 
        h2.hero-title.gs_reveal.gs_reveal_fromTop.text-center.mb-5 Mua sắm với Muadee
        .swiper-container.mySwiper.gs_reveal.gs_reveal_fromTop
            .swiper-wrapper
                    .swiper-slide
                        .slide-inner.d-flex.align-items-center.justify-content-between
                            a.slide-inner__content(href="") 
                                p.small-txt Thời trang
                                p.title ZARA Việt Nam
                            .slide-inner__img
                                img(src="./images/logo-1.png", alt="")
                    .swiper-slide 
                        .slide-inner.d-flex.align-items-center.justify-content-between
                            a.slide-inner__content(href="") 
                                p.small-txt Nhà cửa & Đời sống
                                p.title IKEA
                            .slide-inner__img
                                img(src="./images/logo-2.png", alt="")
                    .swiper-slide 
                        .slide-inner.d-flex.align-items-center.justify-content-between
                            a.slide-inner__content(href="") 
                                p.small-txt Thời trang
                                p.title ZARA Việt Nam
                            .slide-inner__img
                                img(src="./images/logo-3.png", alt="")
                    .swiper-slide 
                        .slide-inner.d-flex.align-items-center.justify-content-between
                            a.slide-inner__content(href="") 
                                p.small-txt Nhà cửa & Đời sống
                                p.title IKEA
                            .slide-inner__img
                                img(src="./images/logo-4.png", alt="")
                    .swiper-slide 
                        .slide-inner.d-flex.align-items-center.justify-content-between
                            a.slide-inner__content(href="") 
                                p.small-txt Nhà cửa & Đời sống
                                p.title IKEA
                            .slide-inner__img
                                img(src="./images/logo-5.png", alt="")
                    .swiper-slide 
                        .slide-inner.d-flex.align-items-center.justify-content-between
                            a.slide-inner__content(href="") 
                                p.small-txt Nhà cửa & Đời sống
                                p.title IKEA
                            .slide-inner__img
                                img(src="./images/logo-6.png", alt="")
            .button-swiper 
                .swiper-button-next
                .swiper-button-prev