footer.footer.d-flex.align-items-center
	.container
		.row
			.col-12.col-md-6.col-xl-6
				a.logo-footer(href="") 
					img(src="./images/logo.svg", alt="")
			.col-12.col-md-6.col-xl-6
				.panel
					.panel-body
						ul
							li
								a(href="") Giới thiệu về Muadee
							li
								a(href="") Điều khoản sử dụng
							li
								a(href="") Chính sách bảo mật
							li
								a(href="") Đăng ký hợp tác với Muadee
			.col-12.col-md-6.col-xl-6
				.social-list 
					a(href="") 
						em.fa-brands.fa-facebook
					a(href="") 
						em.fa-brands.fa-youtube
			.col-12.col-md-6.col-xl-6
				.download-app 
					a(href="") 
						img(src="./images/chplay.png", alt="")
					a(href="") 
						img(src="./images/appstore.png", alt="")