section.hero-section.partner-2 
    .container 
        .md-title 
            h2.md-subtitle.text-center Muadee & Đối tác
        .md-swiper 
            .swiper.gallery-top
                .swiper-wrapper
                    -for(i=1; i<4; i++)
                        .swiper-slide
                            .slide-inner
                                .slide-inner__img
                                    img(src="./images/iPhone_3.png", alt="")
                .button-swiper 
                    .swiper-button-next
                    .swiper-button-prev
            .swiper.gallery-bottom
                .swiper-wrapper
                    .swiper-slide
                        .slide-inner
                            .inner-title 
                                p Tìm kiếm
                            .inner-content 
                                p Thiết kế hướng đến trải nghiệm khám phá. Giúp tối đa hoá cơ hội tiếp cận khách hàng mới.
                    .swiper-slide
                        .slide-inner
                            .inner-title 
                                p Nhận diện
                            .inner-content 
                                p Nhận diện danh mục ưa thích. Dễ dàng tiếp cận đến nhiều thương hiệu cùng danh mục.
                    .swiper-slide
                        .slide-inner
                            .inner-title 
                                p Mua sắm
                            .inner-content 
                                p Đưa người dùng đến mua sắm tại nền tảng bán hàng của doanh nghiệp.
            