section#hero-banner.hero-banner
    .bannerSwiper.banner-desktop
        .slide-inner.banner-item
            .slide-inner__content 
                .banner-desc
                    h1.big-txt 
                        span.midium-line Mua đi, 
                        |đợi chi?
                    p.small-txt Mua trước. Trả sau. Lãi suất 0%
                        br
                        |cùng ứng dụng thanh toán thông minh của HD Bank
                .qr-code.d-flex.align-items-center
                    .icon
                        img(src="./images/banner/QRCODE.svg", alt="")
                    a(href="") Tìm hiểu thêm
            .slide-inner__img 
                a(href="") 
                    img(src="./images/banner/b-1.png", alt="")
        .slide-inner.banner-item
            .slide-inner__content 
                .banner-desc
                    h1.big-txt Giảm ngay 
                        span.short-line 50k 
                        br
                        |cho đơn hàng 
                        br 
                        |đầu tiên
                .qr-code.d-flex.align-items-center 
                    .icon
                        img(src="./images/banner/QRCODE.svg", alt="")
                    a(href="") Tìm hiểu thêm
            .slide-inner__img
                a(href="") 
                    img(src="./images/banner/b-2.png", alt="")
        .slide-inner.banner-item
            .slide-inner__content 
                .banner-desc
                    h1.big-txt Nhận ngay hạn
                        br
                        | mức đến 
                        span.midium-line 15 triệu
                .qr-code.d-flex.align-items-center 
                    .icon
                        img(src="./images/banner/QRCODE.svg", alt="")
                    a(href="") Tìm hiểu thêm
            .slide-inner__img
                a(href="") 
                    img(src="./images/banner/b-3.png", alt="")
    
    .bannerSwiper.swiper.banner-mobile
        .swiper-wrapper
            .swiper-slide
                .slide-inner
                    .slide-inner__content 
                        .banner-desc
                            h1.big-txt 
                                span.short-line Mua đi, 
                                |đợi chi?
                            p.small-txt Mua trước. Trả sau. Lãi suất 0%
                                br
                                |cùng ứng dụng thanh toán thông 
                                br
                                |minh của HD Bank
                        .download-app
                            a.btn.btn-download(href="") 
                                span Tải ngay
                            a.readmore(href="") Tìm hiểu thêm
                    .slide-inner__img 
                        a(href="") 
                            img(src="./images/banner/b-1.png", alt="")
            .swiper-slide
                .slide-inner
                    .slide-inner__content 
                        .banner-desc
                            h1.big-txt Giảm ngay 
                                span.short-line 50k 
                                br
                                |cho đơn hàng 
                                br 
                                |đầu tiên
                    .slide-inner__img
                        a(href="") 
                            img(src="./images/banner/b-2.png", alt="")
            .swiper-slide
                .slide-inner
                    .slide-inner__content 
                        .banner-desc
                            h1.big-txt Nhận ngay hạn
                                br
                                | mức đến 
                                span.short-line 15 triệu
                    .slide-inner__img
                        a(href="") 
                            img(src="./images/banner/b-3.png", alt="")
        .button-swiper 
            .swiper-button-next
            .swiper-button-prev
