section#hero-section.hero-banner(data-aos="fade-up")
    .swiper-container.bannerSwiper
        .swiper-wrapper 
            .swiper-slide
                .slide-inner
                    .slide-inner__content 
                        .banner-desc
                            h1.big-txt 
                                span.long-line Mua đi, 
                                |đợi chi?
                            p.small-txt Mua trước. Trả sau. Lãi suất 0%
                                br
                                |cùng ứng dụng thanh toán thông minh của HD Bank
                        .qr-code.d-flex.align-items-center
                            .icon
                                img(src="./images/banner/QRCODE.svg", alt="")
                            a(href="") Tìm hiểu thêm
                    .slide-inner__img 
                        a(href="") 
                            img(src="./images/banner/b-1.jpg", alt="")
            .swiper-slide
                .slide-inner
                    .slide-inner__content 
                        .banner-desc
                            h1.big-txt Giảm ngay 
                                span.short-line 50k 
                                br
                                |cho đơn hàng 
                                br 
                                |đầu tiên
                        .qr-code.d-flex.align-items-center 
                            .icon
                                img(src="./images/banner/QRCODE.svg", alt="")
                            a(href="") Tìm hiểu thêm
                    .slide-inner__img
                        a(href="") 
                            img(src="./images/banner/b-2.jpg", alt="")
            .swiper-slide
                .slide-inner
                    .slide-inner__content 
                        .banner-desc
                            h1.big-txt Nhận ngay hạn
                                br
                                | mức đến 
                                span.long-line 15 triệu
                        .qr-code.d-flex.align-items-center 
                            .icon
                                img(src="./images/banner/QRCODE.svg", alt="")
                            a(href="") Tìm hiểu thêm
                    .slide-inner__img
                        a(href="") 
                            img(src="./images/banner/b-3.jpg", alt="")
