.hero-banner
    position: relative
    margin: 0
    background: #F2F2F7
    border-radius: 50px 50px 0px 0px
    .bannerSwiper
        width: 300%
        height: 100vh
        max-height: 100% !important
        overflow: hidden
        display: flex
        flex-wrap: nowrap
        align-items: center
        .slide-inner
            width: 100%
            height: 100%
            padding-top: 156px
            display: flex
            align-items: center
            justify-content: space-between
            &__img
                width: 824px
                a
                    +img-ratio(860/824)
            &__content
                flex: 0 0 50%
                width: 50%
                padding-left: 200px
                .banner-desc
                    .big-txt
                        font-weight: 700
                        font-size: 80px
                        line-height: 95px
                        letter-spacing: -0.15px
                        color: #000000

                    .small-txt
                        padding-top: 20px
                        font-family: 'SF Pro Display'
                        font-size: 24px
                        letter-spacing: 0.5px
                        color: rgba(60, 60, 67, 0.6)

                .qr-code
                    margin-top: 40px
                    .icon
                        display: flex
                        align-items: center
                        justify-content: center
                        padding: 20px
                        gap: 10px
                        width: 130px
                        height: 130px
                        background: #FFFFFF
                        border-radius: 16px
                    a
                        display: block
                        margin-left: 32px
                        font-weight: 600
                        font-size: 17px
                        letter-spacing: -0.4px
                        text-decoration-line: underline
                        color: #000000
        @media screen and ( max-width: 1366.98px )
            padding-top: 0 !important
            .slide-inner
                padding-top: 110px
                &__img
                    width: 650px
                    a
                        +img-ratio(620/680)
                &__content
                    padding-left: 150px
                    .banner-desc
                        .big-txt
                            font-size: 60px
                            line-height: normal
                            span
                                &::after
                                    bottom: -35px
                        .small-txt
                            font-size: 18px

    .banner-mobile
        width: 100%
        position: relative
        height: auto !important
        .slide-inner
            padding-top: 0
            height: auto
            &__content
                padding: 0 100px
                flex: 0 0 60%
                width: 60%
                .banner-desc
                    .big-txt
                        font-size: 48px
                        letter-spacing: -1.15px
                        margin-bottom: 16px
                        text-align: center
                        span
                            &::after
                                display: none
                    .small-txt
                        text-align: center
                        font-size: 20px
                        line-height: 24px
                        letter-spacing: 0.5px
                        margin-bottom: 30px
                        color: rgba(60, 60, 67, 0.6)
                .download-app
                    display: flex
                    flex-wrap: wrap
                    align-items: center
                    justify-content: center
                    .btn-download
                        display: flex
                        justify-content: center
                        align-items: center
                        padding: 16px
                        gap: 16px
                        width: 100%
                        height: 56px
                        background: #F7C913
                        border-radius: 32px
                        font-weight: 600
                        font-size: 17px
                        letter-spacing: -0.4px
                        color: #000000
                        margin-bottom: 24px
                    .readmore
                        font-weight: 600
                        font-size: 17px
                        line-height: 22px
                        letter-spacing: -0.4px
                        text-decoration-line: underline
                        color: #000000

            &__img
                width: 367px
                margin-bottom: 90px
                a
                    +img-ratio(384/367)
        .button-swiper
            z-index: 999
            top: 40%
            left: 50%
            transform: translate(-50%, -50%)
        @media screen and ( min-width: 1025px )
            display: none
    @media screen and ( max-width: 1024.98px )
        padding-top: 126px
        .banner-desktop
            display: none
    @media screen and ( max-width: 575.98px )
        .banner-mobile
            padding-bottom: 60px
            .slide-inner
                flex-direction: column-reverse
                justify-content: flex-start
                align-items: flex-start
                &__content
                    flex: unset
                    width: 100%
                    padding: 0 20px
            .button-swiper
                top: 47%
