.hero-banner
    .bannerSwiper
        .slide-inner
            padding-left: 200px
            width: 100vw
            height: calc( 100vh - 156px )
            display: flex
            align-items: center
            justify-content: space-between
            &__img
                width: 824px
                a
                    +img-ratio(860/824)
            &__content
                .banner-desc
                    .big-txt
                        font-weight: 700
                        font-size: 80px
                        line-height: 95px
                        letter-spacing: -0.15px
                        color: #000000
                        span
                            position: relative
                            &::after
                                position: absolute
                                bottom: -37px
                                left: 0
                                width: 100%
                                z-index: -1
                            &.long-line
                                &::after
                                    content: url('../images/icons/line.svg')
                            &.short-line
                                &::after
                                    content: url('../images/icons/line-1.svg')

                    .small-txt
                        padding-top: 20px
                .qr-code
                    margin-top: 40px
                    .icon
                        display: flex
                        align-items: center
                        justify-content: center
                        padding: 20px
                        gap: 10px
                        width: 130px
                        height: 130px
                        background: #FFFFFF
                        border-radius: 16px
                    a
                        display: block
                        margin-left: 32px
                        font-weight: 600
                        font-size: 17px
                        letter-spacing: -0.4px
                        text-decoration-line: underline
                        color: #000000
        @media screen and ( max-width: 1366.98px )
            .slide-inner
                padding-left: 50px
                height: calc( 100vh - 110px )
                &__img
                    width: 650px
                    a
                        +img-ratio(620/680)
                &__content
                    .banner-desc
                        .big-txt
                            font-size: 60px
                            line-height: normal
                            span
                                &::after
                                    bottom: -35px
